body {
    font-family: 'Work Sans', sans-serif;
}

* {
    /* margin: 0 auto; */
}

/* Header section */
header {
    background-color: #FFF4E7;
}

.header-content {
    width: 1560px;
    padding: 50px 0;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 45px;
}

.nav-item {}

.nav-item ul {
    display: flex;
    gap: 55px;
}

.nav-item ul li {
    list-style: none;
}

/* Banner section */
.banner-section {
    margin-top: 75px;
    text-align: center;
}

.banner-title {
    font-size: 64px;
}

.banner-paragraph {
    color: #727272;
    padding: 40px 0;
}

.banner-section img {
    width: 100%;
}

.btn-primary {
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 21px 30px;
    border-radius: 10px;
    margin-bottom: 60px;
}

/* Feature section */
.feature-section {
    width: 1560px;
    margin: 0 auto;
}

.feature-content {
    display: flex;
    gap: 75px;
    align-items: center;
    margin-top: 85px;
}

.feature-img img {
    padding: 15px;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feature-details {}

.feature-title {
    color: #727272;
    font-size: 45px;
    padding-right: 225px;
    margin: 0;
}

.feature-color-one {
    color: #131313;
}

.feature-color-two {
    color: #FF900E;
}

.feature-paragraph {
    color: #727272;
    padding: 25px 0 30px;
    line-height: 28px;
    margin: 0;
}

/* Features list */
.feature-list {
    display: flex;
    gap: 100px;
    margin-top: 120px;
}

.feature-items {

}

.feature-items>.feature-title {
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}

.feature-description {
    width: 700px;
    padding: 25px;
    box-shadow: 0px 0px 5px #b8b8b85b;
    margin-bottom: 20px;
}

.description-title {
    color: #131313;
    font-size: 20px;
}

.description-paragraph {
    margin-top: 10px;
    color: #727272;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.features-images img{

}
.btn-feature {
    color: #fff;
    border: none;
    background-color: #FF900E;
    padding: 45px;
    border-radius: 8px;
    margin: -250px 0 0 -65px;
}

.btn-feature h2 {
    font-size: 65px;
    margin: 0;
}

.btn-feature span {
    font-size: 25px;
}
/* Some facts section */
.facts-section{
    width: 1560px;
    margin: 0 auto;
    margin-top: 150px;
}
.facts-title{
    color: #131313;
    font-size: 45px;
}
.facts-paragraph{
    color: #727272;
    line-height: 28px;
    margin-top: 24px;
}
.facts-item{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.facts-list{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
}
.facts-list h2{
    font-size: 45px;
    color: #424242;
    margin: 0;
}
.facts-list p{
    font-size: 20px;
    color: #424242;
    margin: 0;
}

/* Sponsor section */
.our-sponsor{
    width: 1560px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
.our-sponsor h2{
    color: #131313;
    font-size: 45px;
}
.sponsor-paragraph{
    color: #727272;
    line-height: 28px;
    margin-top: 24px;
}
.sponsor{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

/* Footer section */
footer{
    width: 1560px;
    background-color: #FFF4E7;
    padding: 40px 0;
    text-align: center;
    color: #424242;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 150px;
}























